1. print perkalian di bawah ini

(1). Silahkan print(8 / 7) dan berikan comment # Ini adalah pembagian, lihat contoh di bawah ini

In [1]:
# Ini adalah perkalian
print(4 * 8)

32

In [2]:
print (8/7)

1.1428571428571428

Python sebagai kalkulator
(2) Lihat beberapa contoh di bawah ini

In [3]:
# Penambahan dan pengurangan
print(5 + 5)
print(5 - 5)

# Perkalian dan pembagian
print(3 * 5)
print(10 / 2)

# Perpangkatan
print(4 ** 2)

# Pembagian Modulo
print(18 % 7)

10
0
15
5.0
16
4

In [6]:
print(100000*((10/100)*7)+100000)

170000.0

(3) Buat variabel simpanan dengan nilai 100000, kemudian print variabel simpanan

In [9]:
simpanan = 100000
print (simpanan)

100000


(4)
Buat variable faktor = 1.10
Gunakan variabel simpanan dan faktor untuk menentukan berapa hasil yang didapat dalam 10 tahun dan simpan dalam variabel hasil
print hasil

In [13]:
faktor = 1.10
hasil = (faktor*simpanan*10)
print (hasil)

1100000.0000000002

(5)
Kalikan simpanan dan faktor dan simpan dalam variabel hasil_1
Apakah tipe data dari hasil 1? Silahkan print tipe datanya
Buatlah variabel desc = "Sains Data"
Jumlahkan desc dengan desc bagaimana hasilnya? Simpan pada variabel dobel_desc
print dobel_desc

In [17]:
hasil_1 = (simpanan * faktor)
print (type(hasil_1))
desc = "sains Data"
dobel_desc = (desc + desc)
print(dobel_desc)

<class 'float'>
sains Datasains Data

Konversi tipe data / casting
Kamu bisa merubah tipe data seperti berikut

In [18]:
a = 5
a_baru = str(a)
a_baru

'5'

In [19]:
type(a_baru)

str

In [20]:
b = '300'
b_baru = int(b)
b_baru

300

In [21]:
type(b_baru)

int

(6). Lihat error di bawah ini bagaiman kamu menyelesaikannya?

In [28]:
# Simpanan dan hasil
simpanan_x = 100000
hasil_x = 100000 * 1.10 ** 7

# Fix the printout
print("Uang saya awalnya" + str(simpanan_x) + "dan saya sekarang punya"  + str(int(hasil_x)) + ".Kueren cak")

Uang saya awalnya100000dan saya sekarang punya194871.Kueren cak

In [29]:
# Selesaikan juga ini
pi_string = "3.1415926"
float = pi_string
print (pi_string)

# Konversi pi_string menjadi float simpan dalam variabel pi_float dan kemudian print
# Jawba disini

3.1415926